.header {
  background-color: #ff8c9e;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.nav-links {
  list-style-type: none !important;
  display: flex;
  gap: 1rem;

}

.nav-links li {
  margin-right: 1rem;
}

.nav-links li a {
  color: #fff !important; /* Use !important to ensure it overrides other styles */
  text-decoration: none;
  transition: color 0.2s;
}

.nav-links li a:hover {
  color: #ff6a7b;
  text-decoration: underline; /* Add an underline on hover */
}
