.header {
  background-color: #fff;
  color: black;
  padding: 1rem;
  display: flex;
  flex-direction: column; /* Stack the logo and nav links vertically */
  align-items: center; /* Center the content horizontally */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem; /* Add some spacing between the logo and nav links */
}

.logo a {
  color: black;
  text-decoration: none;
}


.nav-links {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-links li {
  /* Remove margin-right as it is unnecessary for centering */
}

.nav-links li a {
  color: black;
  text-decoration: none;
  transition: color 0.2s;
}

.nav-links li a:hover {
  color: #ff6a7b;
  text-decoration: underline;
}

