.product-card {

  padding: 10px;
  margin: 10px;
  
  display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: #680a15 1px solid;
  }
  
  .product-image {
    width: 70%; /* main image sizing */
    max-height: 350px; /* main image sizing - see how we can make all products the same size - shrink dragon bracelet  */
    max-width: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px; /* Add some space between image and info */
  }
  
  .product-info {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 100%;

  }
  
  .product-title {
    font-size: 18px;
    margin-bottom: 8px;

  }
  
  .product-price {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .product-button {
    padding: 8px 16px;
    background-color: #b0333f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }

  .product-button:hover {
    background-color: #680a15;
  }
  