.button-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button-section button {
    padding: 10px 20px;
    background-color: #b0333f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button-section button:hover {
    background-color: #680a15;
  }
  